<div class="popup" >
        <div class="container"> 
          <form  method="post">
            <!-- <h2>Two Way Binding Example </h2> -->
            <h2>Sign Up</h2>
            <input type="text" name="username" id="username" placeholder="Enter Username" [(ngModel)]="username"><br>
            <!-- <h2>Welcome </h2>  <p>{{username}}</p>   -->
            <input type="email" name="email" id="email" placeholder="Enter Email" [(ngModel)]="email"><br>
            <input type="password" name="password" id="password" placeholder="Enter Password" [(ngModel)]="password"><br>

            <button class="btn bg-primary mt-2 " (click)="handleSubmit($event)">Submit</button>
          </form>
        </div>
</div>


   
