.popup {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #f5f5f5;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 33vw;
    height: 55vh;
    margin: auto;
  }
  .container {
    padding-top: 1vh;
  }
  
  .cross-icon {
    margin-left: 30vw;
    padding-right: 0.5vw;
    height: 6vh;
  }
  
  form {
    margin: 0px;
    padding: 0px;
  }
  
  input {
    margin-top: 5%;
    width: 30vw;
    height: 5vh;
    font-size: 1em;
  }
 
  span{
    color:red;
  }